

.container {
  
    position: relative; 
    width: 100vw;
    height: 100vh;
    background-color: white; /* Or any background you prefer */
    overflow: hidden;
    display: flex;
    flex-direction: column; 
    align-items: center;
    text-align: center;
    
  }
  
.letter {
    font-size: 100px;
    position: absolute;
    font-size: 2rem;
    color: rgb(52, 52, 53);
    opacity: 0;
    animation: fadeIn 1s forwards, dissolve 1s 3s forwards;
    padding: 80px;
    font-family:  "Tsukimi rounded";
    
  }
  


  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  

 

  @media screen and (max-width: 480px) and (max-height: 667px) {
    .container {
     right: 10%;
      width: 90vw; /* Increase width to fit smaller screens */
      height: 90vh;
      font-size: 2rem;
    }
  }

  @media screen and (min-width: 768px) and (max-width: 1024px) {
    .container {
      left: 1.5%;
      width:100vw;
      height: 100vh;
    }
  }


