.container{
    margin-top: 7%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "tsukimi rounded";
    color: #333;
}

.page_title{
    margin-top: 20px;
    font-size: 30px;
    font-weight: 600;
}

@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .logo {
    margin-top: 20px;
    margin-bottom: 25px;
    display: inline-block; /* Ensure it stays in line */
    animation: spin 7s linear infinite; /* Spin continuously */
  }


  @media screen and (max-width: 480px) and (max-width: 768px) {
    .container {
      margin-top: 20vh;
    }
  }

  @media screen  and (max-width: 768px) {
    .container {
      margin-top: 20vh;
    }
  }


